
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
  
</head>
<body style="background-image:url(https://mydoctor.lk/wp-content/uploads/2019/05/slider-bg1-2.jpg)">
    <img src="https://elderjusticeny.org/wp-content/uploads/2020/04/medicare-supplemental-insurance.png" height="60" width="180" />

    <h2 style="color:darkviolet">Doctor Login</h2>
    <div>


        @using (Html.BeginForm("Main", "doctors", FormMethod.Post))
        {
            <table class="table-bordered">
                <tr>
                    <td> <b>Name: </b><br /></td>
                    <td> @Html.TextBox("email")<br /></td>
                </tr>
                <tr>
                    <td><b>Password: </b></td>
                    <td>@Html.Password("ddpassword")</td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Login" style="background-color:powderblue" />
        }

    </div>

</body>
</html>
