
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h2 style="color:darkviolet">Patient Login</h2>
    <div>


        @using (Html.BeginForm("Main", "patients", FormMethod.Post))
        {
            <table class="table-bordered">
                <tr>
                    <td> <b>Name: </b><br /></td>
                    <td> @Html.TextBox("name")<br /></td>
                </tr>
                <tr>
                    <td><b>Password: </b></td>
                    <td>@Html.Password("ppassword")</td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Login" style="background-color:powderblue" />
        }

    </div>

</body>
</html>

