

@{
    ViewBag.Title = "Main";

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="MACode ID, https://macodeid.com/">

    <title>Patient Home Page</title>



    <link rel="stylesheet" href="~/Content/css/maicons.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap.css">

    <link rel="stylesheet" href="~/Content/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/Content/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/Content/css/theme.css">
</head>
<body>


    <button style="color:whitesmoke;background-color:darkslategrey;height:40px;width:80px;font-size:medium;font-weight:bold">@Html.ActionLink("Logout", "Index", "Home")</button>
  

    <!-- Back to top button -->
    <div class="back-to-top"></div>



    <div class="page-hero bg-image overlay-dark" style="height: 250px; background-color:#36005f">
        <div class="hero-section">
            <div class="container text-center wow zoomIn">
                <span class="subhead">Let's make your life happier</span>
                <h1 class="display-4">Healthy Living</h1>
                <h3>Admin</h3>
            </div>
        </div>
    </div>


    <div class="bg-light">
        <div class="page-section py-3 mt-md-n5 custom-index">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 py-3 py-md-0">
                        <div class="card-service wow fadeInUp" style="justify-content: center;">

                            <button>
                                @Html.ActionLink("Patient Details", "Display", "patients")
                            </button>


                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp" style="justify-content: center;">

                            <button>
                                @Html.ActionLink("Doctor Details", "Display", "doctors")
                            </button>

                        </div>
                    </div>
                    <div class="col-md-4 py-3 py-md-0">
                        <div class="card-service wow fadeInUp" style="justify-content: center;">

                            @using (Html.BeginForm("Index", "Appointments", FormMethod.Post))
                            {
                                <input type="hidden" name="email" value="@Session["name"]" />
                                <input type="submit" value="View Appointment" />
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .page-section -->







        <script src="~/Content/js/jquery-3.5.1.min.js"></script>

        <script src="~/Content/js/bootstrap.bundle.min.js"></script>

        <script src="~/Content/vendor/owl-carousel/js/owl.carousel.min.js"></script>

        <script src="~/Content/vendor/wow/wow.min.js"></script>

        <script src="~/Content/js/theme.js"></script>
</body>
